# Added by OrbStack: 'orb' SSH host for Linux machines
# This only works if it's at the top of ssh_config (before any Host blocks).
# This won't be added again if you remove it.
Include ~/.orbstack/ssh/config

Host *
    AddKeysToAgent yes
    UseKeychain yes
    IdentityFile ~/.ssh/id_ed25519
    IgnoreUnknown UseKeychain

Host thinkpad
    HostName THINKPAD_IP
    User youngmook-jung
    Port 22
    ServerAliveInterval 60
    ServerAliveCountMax 3

Host nsl5
    HostName nsl5.cau.ac.kr
    User s20204000
    Port 7722
    ServerAliveInterval 60
    ServerAliveCountMax 3

Host nsl2
    HostName nsl2.cau.ac.kr
    User s20204000
    Port 7722
    ServerAliveInterval 60
    ServerAliveCountMax 3
